SupUnity/Library/
SupUnity/Temp/
SupUnity/Logs/
SupUnity/UserSettings/
SupUnity/Assembly-CSharp.csproj
SupUnity/Assembly-CSharp-Editor.csproj
SupUnity/SupUnity.sln
SupUnity/.vsconfig
SupUnity/.vs/SupUnity/v16/.suo
SupUnity/obj/
Build/
PackagesDistributives/
SupUnity/Assembly-CSharp-firstpass.csproj
/SupUnity/PlayFab.csproj
/SupUnity/PlayFabSDKEditor.csproj
